<!--The content below is only a placeholder and can be replaced.-->
<div class="center">
  <h1 class="resume-name">
    {{ title }}
  </h1>
  
</div>


<div class='display-flex'>
   
  <div class="mr-10">
      <ul class="m0">
    <li>
        Skills:<br>
        Proficient in C++, C, Latex, Python, Unix command Line,<br>
        Experienced in Go, Lisp, Prolog, Java, Tensorflow, CMake
        
    </li>
    <li>
        EDUCATION<br>
        <div class="display-flex">
            University California at Davis   Majoring in Computer Science		   <span class="flex-right">Grad Date: June 2019</span>
        </div>
         GPA 3.78         Major GPA 3.8            Dean’s List (2017 Winter, 2018 Fall)<br>
        Coursework in Software & Objective-Orient Programming, Data Structure and Computer Programs, Theory Computation, Algorithm Design,<br> Machine Dependent Programming, Machine Learning, Operating System
      </li>
      <li>   
        INTERNSHIPS EXPERIENCE<br>
        CHINA BAOWU STEEL GROUP CO. Ltd   R&D Department Intern         Jun. ~ Aug. 2016<br>                                              
        Developed employee health application on the enterprise’s self-designed Android Software Development Platform.<br>
        Optimized UI Design of health application to ensure the accessibility of all functions within four interaction times.<br>
        Kept track of employees’ health and wellness statistics to provide practical suggestions.<br>
      </li>
      <li> 
        RESEARCH<br>
        Robustness Analysis of Neural Network   Nanjing university software institute    Jul.~Sept. 2018<br>
        Research of the robustness and continuity of deep neural network models.<br>
        Dropout during the process of training and test adequacy through MuNN, a mutation analysis method for neural networks.<br>
        Pixel Attack and vector displacement of neutron on deep neural network input layers. <br>
        Determine the input range according to the activation function of neural network models.<br>
      </li>   
      <li> 
        ACADEMIC PROJECTS<br>
        Loan Prediction Competition, UC Davis                                  Mar. ~Jun. 2018<br>
        	Determined whether a loan will default, as well as the loss incurred if it does default in Python.<br>
        	Evaluated the MAE (mean absolute error); Predicted both the default and the severity of the losses that result from a loan through classification, regression, feature selection of data sets in Python.<br>
        	Predicted loan loss within than 0.5% error range of actual loss.<br>
        Google Automate Tests Framework, UC Davis                             Jan. ~Mar. 2018<br>
        	Performed Automate tests using Google Test Documents and Cmake Documents in C. <br>
        	Implemented unit and sanity check for Exact Matching through Z-algorithm and Boyer-Moore Preprocessing; Checked for Approximate Member Set Problem through Universal Hashing and Bloom Filter in C.<br>
        Evacuation Route Design Challenge, UC Davis                             Jan. ~Mar. 2017<br>
        	Determined the routes taken to evacuate a group of people in cities that are geographically close to each other in C++.<br>
        	Compared results from Edmond-Karp, Ford-Fulkerson and Dinic Algorithm in C++.<br>
        	Chose Ford-Fulkerson Algorithm for the optimal route design and won top 10 of the challenge.<br>
        
    </li>
  </ul>
</div>
<div>
    <a target="_blank" href="assets/IMG_2125.JPG">
      <img width="300"  src="assets/IMG_2125.JPG">
    </a>
  
  </div>

</div>
<div class="contact">
  <div class="bottom-right">
  <h2>
    Contact Information:<br>
    2145 Jade Street, Davis, CA 95616, USA<br>
    Cell: (530)760-9085 | Email: zjtang@ucdavis.edu
  </h2>   
  </div>
</div>
<router-outlet></router-outlet>
