<!--The content below is only a placeholder and can be replaced.-->
<div class="center">
  <h1 class="resume-name">
    {{ title }}
  </h1>
  
</div>


<div class='display-flex'>
  <div class="mr-10">
    <ul class="m0">
      <h2 class="subtitle">
        SKILL:
      </h2>
        <li>Proficient in C++, C, Latex, Python, Unix command Line, </li>
        <li>  Experienced in Go, Lisp, Prolog, Java, Tensorflow, CMake   </li>
    </ul>
    <ul>
      <h2 class="subtitle">
          EDUCATION:
      </h2>  
      <li>
        <div class="display-flex">
          University California at Davis   Majoring in Computer Science		   <span class="flex-right">Grad Date: June 2019</span>
        </div>
      </li>  
      <li>  GPA 3.78         Major GPA 3.8            Dean’s List (2017 Winter, 2018 Fall)</li>
      <li> Coursework in Software & Objective-Orient Programming, Data Structure and Computer Programs, </li> 
      <li> Theory Computation, Algorithm Design, Machine Dependent Programming, Machine Learning, Operating System</li> 
    </ul>  
    <ul>      
      <h2 class="subtitle">
        INTERNSHIPS EXPERIENCE
      </h2>
      <li>
        <div class="display-flex">
          CHINA BAOWU STEEL GROUP CO. Ltd   R&D Department Intern         <span class="flex-right">Jun. ~ Aug. 2016   </span>    
        </div>
      </li>                                      
      <li>Developed employee health application on the enterprise’s self-designed Android Software Development Platform.</li>
      <li>Optimized UI Design of health application to ensure the accessibility of all functions within four interaction times.</li>
      <li>Kept track of employees’ health and wellness statistics to provide practical suggestions.</li>
    </ul>
    <ul>
      <h2 class="subtitle">
        RESEARCH
      </h2>
      <li>
          <div class="display-flex">
              Robustness Analysis of Neural Network   Nanjing university software institute 		   <span class="flex-right"> Jul.~Sept. 2018 </span>
          </div>
      </li>
      <li>Research of the robustness and continuity of deep neural network models.</li>
      <li>Dropout during the process of training and test adequacy through MuNN, a mutation analysis method for neural networks.</li>
      <li>Pixel Attack and vector displacement of neutron on deep neural network input layers.</li>
      <li>Determine the input range according to the activation function of neural network models.</li>   
    </ul>  
    <ul>
        <h2 class="subtitle">
            ACADEMIC PROJECTS
        </h2>
      <li>
        <div class="display-flex">
          Loan Prediction Competition, UC Davis    <span class="flex-right">Mar. ~Jun. 2018   </span>    
        </div>
      </li>   
      <li>Determined whether a loan will default, as well as the loss incurred if it does default in Python.</li>
      <li>Evaluated the MAE (mean absolute error); Predicted both the default and the severity of the losses that result from a loan through classification, regression, feature selection of data sets in Python.</li>
      <li>Predicted loan loss within than 0.5% error range of actual loss.</li>
    </ul>
    <ul>
      <h2 class="subtitle">
        RESEARCH
      </h2>
      <div class="display-flex">
          Google Automate Tests Framework, UC Davis       <span class="flex-right">Jan. ~Mar. 2018   </span>    
      </div>
      <li>Performed Automate tests using Google Test Documents and Cmake Documents in C.</li>
      <li>Implemented unit and sanity check for Exact Matching through Z-algorithm and Boyer-Moore Preprocessing; Checked for Approximate Member Set Problem through Universal Hashing and Bloom Filter in C.</li>
      <div class="display-flex">
          Evacuation Route Design Challenge, UC Davis       <span class="flex-right">Jan. ~Mar. 2017   </span>    
      </div>
      <li>Determined the routes taken to evacuate a group of people in cities that are geographically close to each other in C++.    </li>
      <li>Compared results from Edmond-Karp, Ford-Fulkerson and Dinic Algorithm in C++.</li>
      <li>Chose Ford-Fulkerson Algorithm for the optimal route design and won top 10 of the challenge.</li>
    </ul>
</div>
<div>
    <a target="_blank" href="assets/photo.JPG">
      <img width="300"  src="assets/photo.JPG">
    </a>
  
  </div>

</div>
<div class="contact">
  <div class="bottom-right">
  <h2 class="subtitle">
    Contact Information:<br>
    2145 Jade Street, Davis, CA 95616, USA<br>
    Cell: (530)760-9085 | Email: zjtang@ucdavis.edu
  </h2>   
  </div>
</div>
<router-outlet></router-outlet>
